html {
  height: 80px;
}

/* Style for the container div */
.container {
  display: flex;
  align-items: center; /* Vertical alignment */
}

/* Style for the left column (SVG) */
.column-left {
  flex: 1; /* Take up 50% of the container */
}

/* Style for the right column (text) */
.column-right {
  flex: 1; /* Take up 50% of the container */
}
