body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #4a4d52;
}

#fc-wallpaper-photo {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 9;
}

#fc-wallpaper-photo-blur {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  backdrop-filter: blur(2em);
  z-index: 10;
}

#fc-wallpaper-photo-hd {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  content: "";
  z-index: 11;
  opacity: 1;
}

#digital-clock {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 120px;
  color: #ffffff;
  text-align: center;
  font: 120px "DIGITAL", Helvetica;
  display: none;
  z-index: 12;
  opacity: .8;
}

input {
  width: 100%;
}

#menu-btn {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #333;
}

#menu-btn:hover {
  background-color: #333;
}

#menu-btn .icon-bar {
  background-color: #fff;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
#menu-btn .icon-bar:not(:first-child) {
  margin-top: 4px;
}

#menu-bar {
  background-color: #bdbdbd;
  color: #fff;
  z-index: 1002;
}
.left-shadow-overlay {
  box-shadow: 10px 0 15px 10px #585858;
}
#menu-bar h3 {
  background-color: #2e2e2e;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
#menu-bar a {
  color: #FFF;
  text-decoration: none;
}
#menu-bar a:hover {
  background-color: #d8d8d8;
}
#menu-bar .handle {
  left: -40px;
  padding: 10px;
  position: absolute;
  top: 0px;
  width: 20px;
  cursor: pointer;
}

#download-bar {
  background-color: #e6e6e6;
  padding: 10px;
  box-shadow: -10px 0 15px -6px #585858 inset;
}

#download-bar div.well {
  margin-top: 10px;
}

#pushpin {
  margin: auto;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 30px;
  font-size: 25px;
  color: #ffffff;
  text-shadow: #000 0px 0px 6px;
  z-index: 999;
}

#message {
  margin: auto;
  position: absolute;
  left: 10px;
  right: 0;
  height: 30px;
  font-size: 25px;
  color: #ffffff;
  text-shadow: #000 0px 0px 6px;
  text-align: center;
  display: none;
  z-index: 20;
}

.component_link {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  opacity: 0.4;
  cursor: pointer;
  z-index: 999;
}

.component_link:hover {
  opacity: 1;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  padding: 10px 20px;
  border-bottom: 1px solid #d8d8d8;
  /* padding: 1em; */
  color: #424242;
  font-weight: bold;
}

#popup_note_textarea {
  top: 80px;
  bottom: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 100;
  /* margin: 2% 6%; */
  padding: 8px;
  display: none;
  border-radius: 8px;
  resize: none;
  left: 80px;
  right: 80px;
}

#notepad {
  margin: auto;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 30px;
  font-size: 25px;
  color: #ffffff;
  text-shadow: #000 0px 0px 6px;
  z-index: 999;
}

.notepad_link {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  opacity: 0.4;
  cursor: pointer;
}

.notepad_link:hover {
  opacity: 1;
}

.top-site-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 8px;
  width: 100%;
  z-index: 99;
}

.top-site-container-vertical {
  bottom: unset;
  width: auto;
  left: 8px;
  height: 100%;
}

.top-sites {
  display: flex;
  gap: 8px;
}

.top-sites-vertical {
  flex-direction: column;
}

.site-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 4px;
  /* box-shadow: 0px 2px 6px rgb(0 0 0 / 10%); */
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.5);
}

.site-link:hover {
  background: rgba(127, 127, 127, 0.8);
}

.site-icon {
  width: 32px;
  height: 32px;
}

.site-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

#background-setting {
  margin: 4px;
}

#photographer {
  margin: auto;
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 30px;
  font-size: 25px;
  color: #ffffff;
  text-shadow: #000 0px 0px 6px;
  z-index: 999;
}

.photographer_link {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  opacity: 0.4;
  cursor: pointer;
}

.photographer_link:hover {
  opacity: 1;
}

#customcss_textarea {
  width: 100%;
  min-height: 200px;
  display: none;
}

#bookmark {
  margin: auto;
  position: absolute;
  top: 10px;
  left: 50px;
  height: 30px;
  font-size: 25px;
  color: #ffffff;
  text-shadow: #000 0px 0px 6px;
  z-index: 999; 
}

#bookmarksContainer {
  display: none;
  top: 80px;
  bottom: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 100;
  padding: 8px;
  border-radius: 8px;
  resize: none;
  left: 80px;
  right: 80px;
}

#bookmarksContainer h1 {
  font-size: 20px;
  margin-bottom: 8px;
}

#bookmarksList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#bookmarksList ul {
  list-style-type: none;
}

#bookmarksList li {
  cursor: pointer;
}

#bookmarksList a {
  color: #4285f4;
  text-decoration: none;
}

#bookmarksList a:hover {
  text-decoration: underline;
}

.nested {
  display: none;
}

#weather {
  position: absolute;
  z-index: 1111;
  top: 10px; /* adjust the top position as needed */
  left: 85px; /* adjust the left position as needed */
  width: 450px; /* adjust the width as needed */
  height: 25px; /* set the height to 25px */
  color: #FFF;
  opacity: 0.4;
  text-shadow: (0, 0, 0, 0.8) 0px 0px 4px;
}

#weather p {
  margin: 0;
  line-height: 1;
}

#weather .temperature {
  font-weight: bold;
  font-size: 16px;
}

#weather .description {
  text-transform: capitalize;
}

#weather img {
  vertical-align: middle;
  margin-left: 5px;
}

#weather img {
  vertical-align: middle;
  margin-left: 5px;
  height: 25px; /* adjust the height as needed */
  filter: brightness(0) invert(1); /* set filter to make the icon appear white */
}

.weather-switch {
  align-items: center;
}

.weather-switch label {
  margin-right: 5px;
}

#weather-toggle {
  width: 40%;
}

.weather-options div {
  padding-top: 4px;
  font-weight: lighter;
}

#city {
  width: 90%;
}