input{
        width: 100%;
}

#menu-btn{
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	border-color: #333;
}

#menu-btn:hover{
	background-color: #333;
}

#menu-btn .icon-bar{
	background-color: #fff;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
#menu-btn .icon-bar:not(:first-child){
	margin-top: 4px;
}

#menu-bar{
	background-color: #BDBDBD;
	color: #fff;
	z-index: 1002;
}
.left-shadow-overlay{
	box-shadow: 10px 0 15px 10px #585858;
}
#menu-bar h3{
	background-color: #2E2E2E;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
}
#menu-bar a{
	border-bottom: 1px solid #D8D8D8;
	padding: 1em;
	display: block;
	color: #424242;
	font-size: 1.4em;
	font-weight: 300;
	text-decoration: none;
}
#menu-bar a:hover{
	background-color: #D8D8D8;
}
#menu-bar .handle{
	background-color: #2E2E2E;
  left: -40px;
  padding: 10px;
  position: absolute;
  top: 0px;
  width: 20px;
  cursor: pointer;
  /*margin-top: -20px;*/
	/*-moz-transition: 200ms ease all;
	-webkit-transition: 200ms ease all;
  -o-transition: 200ms ease all;
  transition: 200ms ease all;*/
}
#menu-bar .handle:hover{
  /*left: -46px;
  width: 30px;*/
}
#download-bar{
	background-color: #E6E6E6;
	padding: 10px;
	box-shadow: -10px 0 15px -6px #585858 inset;
}

#download-bar div.well{
	margin-top: 10px;
}

#digital-clock {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 120px;
  color: #ffffff;
  text-align: center;
  font: 100px/120px 'DIGITAL', Helvetica;
  display: none;
}

#message {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  text-shadow: rgb(255 255 0) 0px 0px 6px;
  display: none;
}

 #photographer_link {
   color: #ffffff;
   font-size: 20px;
   text-decoration: none;
 }

 #photographer_link:hover {
  text-decoration: underline;
 }

.flex-container {
	display: flex;
	flex-direction: column;
}

.flex-container > div {
	padding: 10px 20px;
	border-bottom: 1px solid #D8D8D8;
	/* padding: 1em; */
	color: #424242;
	font-size: 1.4em;
	font-weight: 300;
}
